@import url('https://fonts.googleapis.com/css?family=Work+Sans');
html,
body {
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #dd7732;
    letter-spacing: 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: linear-gradient(to right, #000000, #000000, #000000);
    margin: 0;
}

.type-wrap {
    font-size: 50px;
    padding: 20px;
}

.typed {
    color: #dd7732;
    font-weight: 400;
}

.type-wrap p {
    color: white;
}


/* the above is for styling puposes only */

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}